<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rr</title>
</head>

<body>
    <div class="container mx-auto" id="app">
        <div class="py-2">
            <div class="grid grid-cols-6">

                <div class="flex flex-row py-2 col-span-3">
                    <div class="basis-4/5 border-2 border-transparent">
                        <input class="block w-full text-sm text-slate-500
                file:mr-4 file:py-2 file:px-4
                file:rounded-full file:border-0
                file:text-sm file:font-semibold
                file:bg-violet-50 file:text-violet-700
                hover:file:bg-violet-100" type="file" v-on:change="uploadChanged">
                    </div>
                </div>

                <div class="col-span-3 py-2 border-transparent">
                    <button class="p-2 mx-1 rounded bg-green-600 text-white" v-on:click="beforePage">上一页
                    </button>
                    <button class="p-2 mx-1 rounded bg-green-600 text-white" v-on:click="nextPage">下一页
                    </button>
                </div>

                <div class="col-span-1 divide-y p-2">
                    <div v-on:click="jump2Page(toc.href)" v-for="toc of tocs">
                        {{toc.label}}
                    </div>
                </div>

                <div id="area" class="col-span-4 divide-y p-2"></div>

                <div class="col-span-1 divide-y p-2">
                    <input v-for="h of saveHighlight" v-model="h.content"></input>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/vue.global.prod.js"></script>
<script src="/jszip.min.js"></script>
<script src="/epub.js"></script>
<script src="/tailwindcss.js"></script>
<script>

    function getDdentifier(meta) {
        if (!meta) {
            return undefined;
        }

        if (meta.identifier) {
            return meta.identifier;
        }

        return meta.title;
    }

    const { createApp, ref } = Vue
    createApp({
        setup() {
            return {}
        },
        data() {
            return {
                uploadFiles: null,
                book: ref(null),
                rendition: ref(null),
                tocs: [],
                saveHighlight: [],
                meta: {},
            }
        },
        methods: {
            uploadChanged(f) {
                this.uploadFiles = f.target.files;
                this.showEpub();
            },
            showEpub() {
                const f = this.uploadFiles[0];

                var reader = new FileReader();
                // 当文件读取完成时触发
                reader.onload = (e) => {
                    var arrayBuffer = e.target.result;

                    this.book = ePub(arrayBuffer);

                    this.rendition = this.book.renderTo("area", {
                        flow: "scrolled-doc",
                        width: "100%",
                        fullsize: true
                    });

                    var displayed = this.rendition.display();

                    this.book.loaded.navigation.then((toc) => {
                        let cs = [];
                        toc.forEach((chapter) => {
                            cs.push(chapter);
                        });
                        this.tocs.push(...cs);
                        console.log(this.tocs);
                    });

                    this.book.loaded.metadata.then((meta) => {
                        this.meta = meta;
                        console.log(meta)

                        this.saveHighlight = JSON.parse(localStorage.getItem(getDdentifier(this.meta))) || [];
                        console.log(this.saveHighlight);

                        // render 
                        _this = this;
                        this.saveHighlight.forEach(v => {
                            _this.rendition.annotations.highlight(v.cfiRange, {}, (e) => {
                                console.log("highlight clicked", e.target);
                            });
                        })
                    });

                    this.rendition.on("selected", (cfiRange, contents) => {
                        _this = this;
                        this.book.getRange(cfiRange).then((range) => {
                            if (range) {
                                text = range.toString();
                                console.log(text);
                                _this.doSaveHighlight(cfiRange, text)
                            }
                        })

                        this.rendition.annotations.highlight(cfiRange, {}, (e) => {
                            console.log("highlight clicked", e.target);
                        });
                        contents.window.getSelection().removeAllRanges();
                    });

                    this.rendition.themes.default({
                        '::selection': {
                            'background': 'rgba(255,255,0, 0.3)'
                        },
                        '.epubjs-hl': {
                            'fill': 'yellow', 'fill-opacity': '0.3', 'mix-blend-mode': 'multiply'
                        },
                        span: {
                            'font-size': '32px',
                        },
                        p: {
                            "margin": '10px'
                        }
                    });
                };

                // 以ArrayBuffer格式读取文件
                reader.readAsArrayBuffer(f);
            },
            beforePage() {
                this.rendition.prev();
            },
            nextPage() {
                this.rendition.next();
            },
            async example() {
                const response = await axios.get("/msg")
                this.items = response.data;
            },
            doSaveHighlight(cfiRange, content) {
                this.saveHighlight.push({
                    "cfiRange": cfiRange,
                    "content": content,
                });
                localStorage.setItem(getDdentifier(this.meta), JSON.stringify(this.saveHighlight));
            },
            jump2Page(href) {
                this.rendition.display(href);
            }
        },
        mounted() {
        }
    }).mount('#app')

</script>

</html>